/* Do not remove the comments below. It's the markers used by wiredep to inject
   stylus dependencies when defined in the bower.json of your dependencies */
// bower:styl
// endbower

// === COLORS
$dark = #151515
$light = #f3f5f6

// === Media Queris
$sm = '(min-width: 600px)'

// === Sprite Sheet
$sprite = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHoAAAASCAMAAACjIDrhAAAAk1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAj94Aj+Dz9fYAjt8AkN/z9fYAj9/z9fYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAj9/z9fYDOuX5AAAALnRSTlMAAwYMFBUWGhtCQ09RVX1+gIKDnaSosbPExMTFxcXGxs/Q0efq7/Hy9vn6/P3+EbVNIgAAAP1JREFUeAHFlVtTwkAMRle3ol1QoF5WuUCtcqnaD/7/r3OaTsa8ZOKDE8/TYcj0POw2DTqLc89aiM3LqWclRHA1f23belYEk/OAEJvTwI8IJnsQu3EYWNLIsxA7vabfCyG/SE865BRjyujGyrCRVv4x08Ue08Gm2BWu6Tkya8bMNV0jsSbU6rA80a0QO72iZ2yEMC0ia0RrpP/i7ivpo2u6QWIt0RhpbaUoaWOlVPKaVa7XbHTgl+sOn9eu6XDbIZcxlhnAw4VfmtoHEF/c3tDIUogd2PLhs5hpYlQ1H8emunnits/nQ3KptI2VoqCuFL19H9zh9lv4p/bje/kNXECTpwPDGLMAAAAASUVORK5CYII='

// === GLOBALS
*
  outline none

body
  background $light
  color $dark

a
  color black
  font-weight bold

button
  cursor pointer

.ellipsis
  display block
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

// === DEBUG
#__bs_notify__
  top initial !important
  bottom 0

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
